@media (min-width: 1200px) {
  .body-container {margin: 0px 8rem 0px 8rem;}
}
@media (max-width: 1200px) {
  .body-container {margin: 0px 4rem 0px 4rem;}
}
@media (max-width: 700px) {
  .body-container {margin: 0px 1rem 0px 1rem;}
}

@media (min-width: 1200px) {
  .footlogo {height: 90%; width: 90%;}
}
@media (max-width: 1200px) {
  .footlogo {height: 65%; width: 65%;}
}
@media (max-width: 700px) {
  .footlogo {height: 45%; width: 45%;}
}

.grid-container div {
  background-color: aliceblue;
  padding: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
footer {
  float: left;
  position: relative;
  margin-top: 8rem;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
