.grid-container div {
  background-color: aliceblue;
  padding: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
footer {
  float: left;
  position: relative;
  margin-top: 8rem;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
}
